.html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-image: url(assets/bg_morning.png);
  animation: background-move 40s linear infinite;
}

@keyframes background-move {
  from {
    background-position: 0px;
  }

  to {
    background-position: 1920px;
  }
}

a:visited {
  color: #0000EE; /* no purple links allowed */
}

a:hover {
  background-color: #0000EE;
  color: white;
}

a.noblue:hover {
  background-color: white;
}

body.dark a.noblue:hover {
  background-color: #27253b;
}

sub {
  vertical-align: normal;
  font-size: smaller;
  color: gray;
}



div.imgzone {
  text-align: right; /* this is like the tf2 pineapple img */
}

.content {
  height: auto;
  margin: auto;
  text-align: center;
  width: 55%;
  background-color: white;
}

/* mobile adjustments */
@media screen and (max-width: 850px) {
  .content {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    margin: 0;
    background-color: rgb(255,255,255,0.5);
  }
  body.dark .content {
    background-color: rgb(39, 37, 59,0.7)!important /* so janky */
  }
  .adbox > a > img {
    width: 100%;
  }
  .box {
    flex-direction: column;
    justify-content: center !important;
    background-color: inherit;
    gap: 0 !important;
  }
  .box > div {
    text-align: center;
  }
  .imgzone {
    width: 80%;
    margin: auto;
  }
  div.imgzone > img {
    width: 50%;
  }
  .textzone > sub {
    display: none;
  }
}

.box { /* styling class for box container */
  margin: auto;
  text-align: left;
  width: 80%; /* note: adjusts width within "content" div */
  padding: 1rem;
  border: double 7px;
  display: flex;
  gap: 1rem;
  justify-content: space-between; /* content in seperate divs within the box are seperated */
  margin-bottom: 1rem;
  object-fit: contain;
}
.box img {
  width: 100%
}

.imgzone > img {
  border:2px solid black;
}

.header {
  width:100%;
  text-align:center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding:0px 0px 10px 0px;
  border-bottom: 2px solid #ebebeb;
  background-color: white;
}

.adbox {
  margin: 0 1rem 1rem 1rem;
  object-fit: contain;
}
.adbox img {
  width:80%;
  height: auto;
}

.link {
  padding: 0;
  border: none;
  background: none;
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;
  text-decoration: underline;
  color: #0000EE;
}

.link:hover {
  background-color:#0000EE;
  color: white;
  cursor: pointer;
}

/* dark mode zone */

body.dark .content, body.dark .header { 
  background-color: #27253b;
  color:white;
  border-color: #949494;
}

body.dark a, body.dark .link {
  color: #33e7ff;
}

body.dark a:hover, body.dark .link:hover {
  background-color: #0F0F17;
}

body.dark {
  background-image: url(assets/bg_nighttime-large_starless.png);
  background-size: auto;
}


/* bonus stuff */

#closedlink:hover {
  cursor:default;
  background-color: inherit;
}