.html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-image: url(mainpage_assets/bg_morning.png);
  animation: background-move 40s linear infinite;
}

@keyframes background-move {
  from {
    background-position: 0px;
  }

  to {
    background-position: 1920px;
  }
}

a:visited {
  color: #0000EE; /* no purple links allowed */
}

a:hover {
  background-color: #0000EE;
  color: white;
}

a.noblue:hover {
  background-color: white;
}

sub {
  vertical-align: normal;
  font-size: smaller;
  color: gray;
}



div.imgzone {
  text-align: right; /* this is like the tf2 pineapple img */
}

.content {
  height: auto;
  margin: auto;
  text-align: center;
  width: 55%;
  background-color: white;
}

.box { /* styling class for box container */
  margin: auto;
  text-align: left;
  width: 80%; /* note: adjusts width within "content" div */
  padding: 1rem;
  border: double 7px;
  display: flex;
  gap: 1rem;
  justify-content: space-between; /* content in seperate divs within the box are seperated */
  margin-bottom: 1rem;
}

.imgzone > img {
  border:2px solid black;
}

.header {
  width:100%;
  text-align:center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding:10px 0px 10px 0px;
  border-bottom: 2px solid #ebebeb;
  background-color: white;
}

.adbox {
  margin-bottom: 1rem;
}

.link {
  padding: 0;
  border: none;
  background: none;
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;
  text-decoration: underline;
  color: #0000EE;
}

.link:hover {
  background-color:#0000EE;
  color: white;
}

/* dark mode zone */

body.dark .content, body.dark .header { 
  background-color: #27253b;
  color:white;
  border-color: #949494;
}

body.dark a, body.dark .link {
  color: #33e7ff;
}

body.dark {
  background-image: url(mainpage_assets/bg_nighttime.png);
  background-size: cover;
}