html {
  height: 100%;
  width: 100%;
}
body {
  background-color: black; /* background of the doc */
}
h1 {
  color: red;
  margin: 5px;
  font-size:100px;
  text-align:center;
}
p {
  color: red;
  margin: 5px;
  text-align:center;
}

a {
  color:red;
  margin: 5px;
}

a:hover {
  color: black;
  background-color: red;
}

.custom-font {
  font-family: "Jacquarda Bastarda 9 Charted", serif;
  font-weight: 400;
  font-style: normal;
}

.custom-font-2 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  display:inline-block;
  width: 100%;
}

.content {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 60rem;
  margin: 0 auto;
  gap:50px;
  align-items: center;
}


/* hover css */ 
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000AA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: red;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: right;
}


.header {
  width:100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 2;
}

/* mobile adjustments */
@media screen and (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 0 1rem 0 1rem;
    gap: 50px;
  }
  .container {
    border-bottom: 1px solid grey;
    padding: 2rem 0 2rem 0;
    margin: 0;
  }
}