html {
  height: 100%;
  width: 100%;
}
body {
  background-color: cyan; /* background of the doc */
}
h1 {
  margin: 0px; /* removes the margin around the element */
}
p {
  margin: 5px;
}


/* hyperlink formatting */
a:hover {
  color: red;
  background-color: black;
}




table, th, td {
  border: 1px solid black;
}

dt {
  font-weight: bold;
  font-size:20px;
}




/* classes */ 

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 700 */

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <700>;
  font-style: normal;
}

.header {
  width:100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: cyan;
}